$purple-000: #655997 !default;
$purple-100: #544984 !default;
$purple-200: #453495 !default;
$purple-300: #291d5a !default;

.side-bar {
  padding-top: 10px;
}

.bg-publishpress-purple,
.bg-publishpress-yellow {
  width: 300px;
  height: 140px;
  display: inline-block;
  margin-right: 10px;
  padding: 20px;

  div.color-title {
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.bg-publishpress-purple {
  background: #655997;
  color: #ffffff;
}

.bg-publishpress-yellow {
  background: #FEB123;
}

.logo-wrapper {
  border: 1px solid silver;
  background-image: url("/assets/img/transparent-bg.jpg");
  background-repeat: repeat;
}

.slogan {
  padding: 10px;
  font-size: 20px;
  background-color: #eaeaea;
}

// Interface - Button
.button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: initial;
    -webkit-box-shadow: initial;
    -moz-box-shadow: initial;
    box-shadow: initial;
    vertical-align: middle;
    line-height: 0;
    min-height: 28px;
    text-decoration: none;
    padding: 15px 10px;
    border-width: 2px;
    border-style: solid;
}

.button-primary {
    background-color: #FFB300;
    border-color: #C58C07;
    color: #754D26;

    text-shadow: none;
}

.button-primary:hover,
.button-primary:active,
.button-primary:focus {
    background-color: #F3AC04;
    border-color: #C58C07;
    color: #333;
    outline: none;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}
